*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  padding: 0.7rem 1.2rem;
  display: block;
  margin: 2rem;
}

.button--primary {
  border: 2px solid transparent;
  background: violet;
}

.button--secondary {
  background: none;
  background: brown;
}

.button--tertiary {
  border: 2px solid transparent;
  width: 120px;
  padding: 10px 0px !important;
  background-color: aqua;
  color: black;
}

/* Button Size Styles */

.button--small {
  padding: 8px 30px;
  font-size: 0.8rem;
}

.button--medium {
  padding: 10px 60px;
  font-size: 1rem;
}

.button--large {
  padding: 10px 80px;
  font-size: 1.2rem;
}